<%- include('../partials/header')%>
    <div class="container">
        <div class="row">
            <div class="col m8 s12 offset-m2">
                <div class="card-panel">
                    <form action="/places" method="POST">
                        <div class="row">
                            <div class="input-field col s12 m12">
                                <input type="text" class="text-red" name="name">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input type="text" class="text-red" name="place">
                              <label for="location">Location</label>
                          </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12">
                                <input type="text" class="text-red" name="image">
                                <label for="image">Image source</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" name="description"></textarea>
                                <label for="textarea1">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="number" step="1" class="text-red" name="price">
                                <label for="textarea1">Price in €</label>
                            </div>
                        </div>
                        <div class="row center-align">
                            <button class="btn waves-effect waves-light red" type="submit">ADD NEW PLACE
                              <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/footer')%>
